@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;

  @media (min-width: 1024px) {
    font-size: 48px;
    line-height: 58px;
  }

  @media (min-width: 1280px) {
    font-size: 60px;
    line-height: 72px;
  }
}

.curved-background {
  background-color: #B2E4DF;
  border-radius: 0 0 100% 100% / 15rem;
  overflow: hidden;
}

.line {
  width: 5rem;
  height: 0.4rem;
  background-color: #00B2A3;
  animation: slideRightToLeft 2s linear infinite alternate;

  @media (min-width: 1280px) {
    width: 8.5rem;
    height: 0.5rem;
  }
}

@keyframes slideRightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}