@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(215, 171, 38, 0.8);
    border-radius: 100vh;
    border: 2px solid rgba(0, 0, 0, 0.156);
    height: 7.5rem;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(215, 170, 38, 0.859);
  }
}

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
}

.curved-background {
  background-color: #B2E4DF;
  border-radius: 0 0 100% 100% / 15rem;
  overflow: hidden;
}

.line {
  width: 8.5rem;
  height: 0.5rem;
  background-color: #008080; /* Teal color, you can replace this with your desired color */
  animation: slideRightToLeft 2s linear infinite alternate; /* Adjust the duration and other properties as needed */
}

@keyframes slideRightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}